/* Add CSS Styling */

.odd {
    background-color:#FDBCB4;
    font-family:Verdana, 'DejaVu Sans', sans-serif;
}

#second{
    color:#3457D5;
    font-size: 36px;
}

.third{
    font-size: 24px;
}

#fourth{
    background-color: #ACE1AF;
    font-size: 24px;
    font-weight: bold;
}